.magGlass-nav {
  width: 45px;
  height: 45px;
}

.magGlass-search-bar {
  width: 50px;
  height: 50px;
  background-color: #2f3135;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-size: 50px 50px;
  margin-left: -12px;
  margin-top: -7px;
  padding: 10px;
}

.navbar-bg {
  background-color: #4a4949;
}

.search-bg {
  background-color: #202124;
}

.logout-nav {
  width: 18px;
  height: auto;
  margin-bottom: 4%
}

.form-control {
  height: 50px;
  border-radius: 20px;
}

.search-input {
  background-color: #2f3135;
  height: 50px;
  border: none;
  color: white;
}

.search-input:focus {
  background-color: #2f3135;
  color: white;
  box-shadow: none;
}

.search-input::placeholder {
  color: #ffffff80;
}

.input-group {
  padding-left: 12px;
}

.search-logo-image {
  max-width: 250px;
  height: auto;
  /* margin-left: 34%; */
  margin-bottom: 5.4%;
}

.search-filter-icon {
  width: auto;
  max-height: 38px;
  margin-left: 5px;
  margin-top: -10px;
  color: #7f1e1e80
}

.search-filter-popup {
  margin-top: 4%;
  margin-left: 3%;
  width: 19%;
}

@media (max-width: 768px) {
  .search-filter-popup {
    margin: 50% auto; /* Adjust for smaller screens, if necessary */
    width: 95%; /* Adjust the width as needed */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .search-filter-popup {
    margin: 65% auto; /* Adjust for iPad-sized screens, as needed */
    width: 80%; /* Adjust the width as needed */
  }
}